---
title: "파이선 기초문법:::"

date: '2022-06-27 09:00:00'
---

- Hello World

In [2]:
print ("Hello World")

Hello World

## 주석처리
- 1줄 주석, 여러줄 주석처리:
- 여러줄 주석 처리
 + 함수 또는 클래스를 문서화 할때 주로 사용
- 프로잭트 할 때
 + 전체 공정100
 + 코드 / 코드 문서화 / 한글작업 문서화

In [3]:
# print()함수 사용
print("1줄주석")

""""
여러 줄의 주석에는 
쌍따옴표 3개를 입력해주세요
앞과 뒤로
"""

print("여러줄 주석")

1줄주석
여러줄 주석

## 변수 (Scalar)
- 자료형
- Scalar형 Non-Scalar형

### 수치형 자료형
 - int, float

In [4]:
num_int =1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [5]:
num_float =0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool형
 + True,False
 + cf)R: TRUE, FALSE

In [6]:
bool_true =True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### None 자료형
 - Null값- 값이 정해지지 않은 자료형

In [8]:
none_x= None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
 - 정수형 사칙연산, 실수형 사칙연산
 - 결괏값의 자료형

### 정수형 사칙연산
 +.-,*,/
- 단 정수형 나누기는 **실수형**으로 바뀐다

In [21]:
a = 3
b = 2
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)

a+b= 5
a-b= 1
a*b= 6
a/b= 1.5

### 실수형 사칙연산

In [22]:
a = 1.5
b = 2.5
print('a+b=', a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)

a+b= 4.0
a-b= -1.0
a*b= 3.75
a/b= 0.6

## 논리형 연산자
 - bool형
 - True와 False 값으로 정의
 - 조건식
  + 교집합(=and), 합집합(=or)

In [23]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [24]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 비교 연산자
 - 비교연산자는 부등호를 의미한다.

In [25]:
print(4>3) #참 = True
print(4<3) #거짓 = False

print(4>3 or 4<3) # False

True
False
True

## 논리형 & 비교 연산자 응용
 - input()
 - 형변환
 - 데이터 타입을 바꾸는 것

In [27]:
var = input("숫자를 입력하세요!")
print(var)
print(type(var))

숫자를 입력하세요!3
3
<class 'str'>

In [28]:
var = int(input("숫자를 입력하세요!"))
print(var)
print(type(var))

숫자를 입력하세요!1
1
<class 'int'>

--계산이 안될 때 타입을 확인해보고 숫자로 형변환 해주세요

In [61]:
num1 = int(input("첫번째 숫자를 입력하세요."))
num2 = int(input("두번째 숫자를 입력하세요."))
num3 = int(input("세번째 숫자를 입력하세요."))
num4 = int(input("네번째 숫자를 입력하세요."))

첫번째 숫자를 입력하세요.40
두번째 숫자를 입력하세요.50
세번째 숫자를 입력하세요.60
네번째 숫자를 입력하세요.70

In [67]:
var1 = num1 <= num2 
var2 = num3 > num4

In [68]:
print( var1 and var2)

False

## String
 - Non Scalar

In [39]:
print('hello World')
print("hello World")

print("'hello World'")
print('"hello World"')

hello World
hello World
'hello World'
"hello World"

## String Operators
- 문자열 연산자
- +, * 가능

In [44]:
str1 = "Hello "
str2 = "World "
print(str1 + str2)

Hello World

In [45]:
greet = str1 + str2
print(greet * 2)

Hello World Hello World

## 문자열 인덱싱
- 인덱싱은 0번째부터 시작

In [72]:
greeting='hello kaggle'
print(greeting)
print(greeting[0])

hello kaggle
h

In [73]:
greeting= "hello kabble"
i=int(input("숫자를 입력하세요"))
print(greeting[i])

숫자를 입력하세요3
l

## 슬라이싱

In [79]:
greeting = "hello kaggle"
#print(greeting[시작인덱스:끝인덱스-1])
print(greeting[0:2])
print(greeting[0:8])
print(greeting[:8])
print(greeting[6:8])
print(greeting[0:10:2])
print(greeting[0:10:3])
print(greeting[0:10:4])

he
hello ka
hello ka
ka
hlokg
hlkg
hog

In [83]:
alphabet_letter = "1234567890qbcde"
print(alphabet_letter[0:14:2])
print(alphabet_letter[0:14:3])

13579qc
1470c

 + 인덱스가 넘어갈때 뜨는 에러 메세지

In [84]:
greeting = "hello Kabble"
print(greeting[100])

IndexError: ignored

- 문자열 관련 메서드
 + split()
 + sort()
 + etc

## 리스트
- [] (대괄호)로 표시
- [item1, item2, item3..]

In [102]:
a = []#빈 리스트
a_func = list() # 빈 리스트 생성
b= [1] #숫자요소
c=['apple'] #문자요소
d = [1,2,['apple'],'apple']#리스트 자체를 리스트 요소로 만들 수도 있다
print(a,b,c)
print(d)

[] [1] ['apple']
[1, 2, ['apple'], 'apple']

### 리스트 값 수정하기
 - 리스트 값 수정

In [87]:
a =[ 0,1,2]
a[0] = "아무값"
print (a)

['아무값', 1, 2]

 - 메서드 사용

In [93]:
a = [100, 200, 300]
a.append(400)
print(a)

a.append([500,600])
print(a)

a.extend([700,800])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]
[100, 200, 300, 400, [500, 600], 700, 800]

  + insert(인덱스 위치, 값)

In [96]:
a = [100,200,300 ]
a.insert(1,1000)
print(a)

[100, 1000, 200, 300]



  + remover()
   - 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다

In [97]:
a = [1,2,1,2]
a.remove(1)
print(a)

[2, 1, 2]

  + del

In [101]:
a = [0,1,2,3,4,5,6,7,8,9]
del a[1]
print(a)

del a[0:2]
print(a)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]

- pop() : pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다

In [104]:
a = [1,2,3,4,5]
rem = a.pop(1)
print(a)
print(rem)
x = a.pop()
print(a)
print(x)

[1, 3, 4, 5]
2
[1, 3, 4]
5

 - clear() :  리스트 내 모든 값 삭제
 - index("값") : 값의 위치를 불러옴

In [108]:
a= [1,4,5,2,3]
b= ["철수","영희","길동"]
print(a.index(3))
print(b.index("영희"))

4
1

- sort : 리스트의 정렬

In [109]:
a= [1,4,5,2,3]
a.sort()
print(a)

help(list.sort)
#help(list.index)

[1, 2, 3, 4, 5]
Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

## 튜플
- 면접질문 :리스트와 튜플의 차이가 뭔가요?
- 형태로 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다

In [111]:
tuple1 = (0)
tuple2 = (0,)
tuple3 = 0, 1, 2

print(type(tuple1))
print(type(tuple2))
print(type(tuple2))

print(tuple1)
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(0, 1, 2)

- 튜플은 소가로()가 있고 ,(쉼표)가 있다. 정수는 숫자만 있다.

In [114]:
a = (0,1,2,3,'a')
#del a[4]
#print(a)->에러가 뜨며 tuple' object doesn't support item deletion

## 튜플(=리스트)연산자
- 문자열 연산자
- +, *

In [116]:
t1 = (0,1,2)
t2 = (3,4,5)
print(t1 +t2)
print(t1 * 2)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 0, 1, 2)

## 딕셔너리 Dictionary
- 키(Key)와 값(value)으로 구성됨
- 슬라이싱!= (값의 순서가 존재해야 됨) 그러나 딕셔너리는 순서라는 개념자체가 존재하지 않기에 슬라이싱이 안됨(cf.0부터 시작된다는 개념 자체도 없으니 조심)

In [123]:
temp_dict = {
    #'키' : '값'
    'teacher' : 'evan',
    'class' : 15,
    'students' : ['s1', 's2','s3']
}

print(temp_dict["teacher"])
print(temp_dict['class'])
print(temp_dict['students'])

evan
15
['s1', 's2', 's3']

- key()값만 출

In [125]:
list(temp_dict.keys())

['teacher', 'class', 'students']

- values()값만 출

In [126]:
temp_dict.values()

dict_values(['evan', 15, ['s1', 's2', 's3']])

- items() key-value 쌍으로, list와 tuple 형태로 반환

In [127]:
temp_dict.items()

dict_items([('teacher', 'evan'), ('class', 15), ('students', ['s1', 's2', 's3'])])

## 조건문
- 잊지말고 :를 찍으세요

In [133]:
a = int(input("숫자를 입력하세요"))
if a>5:
  print("a는 5보다 크다")
elif a>0:
  print("a는 0보다 크다")
elif a>-5:
  print("a는 -5보다 크다")
else:
  print("a는 매우 작다")

숫자를 입력하세요2
a는 0보다 크다

## 반복문

In [140]:
#Hello World 3번 출력하세요
for idx in range(3):
  print(idx+1)
  print("Hello World, ")

1
Hello World,
2
Hello World,
3
Hello World,

In [141]:
#가독성이 좋게 하려고 인덱스의 숫자를 앞에 넣을 수도 있다.
for idx in range(3):
    print(idx+1,"Hello World, ")

1 Hello World,
2 Hello World,
3 Hello World,

- for loop if 조건문 사용
- 문자열 ,리스트 등-->시퀀스 데이터(반복문 사용가능)

In [145]:
a= "kaggle"
# g가 시작하면 반복문을 멈추세요"
for x in a:
  print(x)
  if x== 'g':
    break

k
a
g

In [155]:
a= "kaggle"
# print(x)의 위치에 따라 출력이 달라진다"
for x in a:
   if x== 'g': 
    break
print(x)

g

- enumerate()

In [156]:
alphabets = ['A','B','c']
for index, value in enumerate(alphabets):
  print(index,value)

0 A
1 B
2 c

- 리스트 컴프리헨션(list comprehension)

In [158]:
"a" in "kiwi"

False

In [159]:
fruits = ['apple','kiwi','mango']
newlists= []
#알파벳 a가 있는 과일만 추출 후 새로운 리스트에 담기
for fruit in fruits:
  #print(fruit)
  if "a" in fruit :
    newlists.append(fruit)
print(newlists)

['apple', 'mango']

In [163]:
#리스트 컴프리헨션으로 표현하면
newlist = [fruit for fruit in fruits if 'a' in fruit]
print(newlist)

['apple', 'mango']