---
title: '판다스'

date: '2022-06-29'

---

## 라이브러리 불러오기

In [10]:
import pandas as pd
import numpy as np
print("pandas version:",pd.__version__)
print("numpy verson:",np.__version__)

pandas version: 1.3.5
numpy verson: 1.21.6

## 데이터 불러오기
- 구글 드라이브에 있는 데이터를 불러올 때 데이터는 존재해야 함

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

- 레모네이드 데이터를 불렀는데 결측치가 있음.

In [11]:
DATA_PATH= '/content/drive/MyDrive/Colab Notebooks/Human_ai/Basic/Chapter 3. pandas/data/Lemonade2016.csv'
print(DATA_PATH)

lemonade  = pd.read_csv(DATA_PATH)

lemonade.info()

/content/drive/MyDrive/Colab Notebooks/Human_ai/Basic/Chapter 3. pandas/data/Lemonade2016.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

- 데이터 맛보기 
 + 헤드 테일은 숫자를 안넣어주면 5개만 보임

In [12]:
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [13]:
print(lemonade. tail())

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 기술통계량 보는 함수
 + describe()

In [14]:
print(lemonade.describe())

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

  - + 레몬보다 오랜지가 표준편차가 작으니 판매차가 거의 없다.(leaflets전단지)

- 범주형 데이터 빈도수 구하기
 +  데이터['컬럼'].갯수함수 -> 시리즈 함수였다!!

In [15]:
lemonade['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

In [16]:
print(type(lemonade['Location']))

<class 'pandas.core.series.Series'>

## 행과 열 다루기
- sold(판매량) 컬럼(=피처=feature)을 추가

In [17]:
lemonade['Sold'] = 0
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0

In [18]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

- Revenue = 단가 x 판매량

In [19]:
lemonade['Revenue'] = 0
print(lemonade[['Sold','Price']].head(3))

   Sold  Price
0   164   0.25
1   165   0.25
2   187   0.25

In [20]:
lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade[['Revenue', 'Price', 'Sold']].head())

   Revenue  Price  Sold
0    41.00   0.25   164
1    41.25   0.25   165
2    46.75   0.25   187
3    58.25   0.25   233
4    69.25   0.25   277

- drop 함수
 + 행은 axis=1 열은 axis=0 을 넣어줘야 한다

In [21]:
#컬럼 제거
col_drop = lemonade.drop('Sold', axis=1)

print(col_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25    58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25    69.25

In [22]:
#행 제거
row_drop = lemonade.drop([0,2], axis =0)
print(row_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
1  7/2/2016     Park     98      67           72      90.0   0.25   165
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172

   Revenue
1    41.25
3    58.25
4    69.25
5    43.00
6    43.00

## 데이터 인덱싱

In [23]:
print(lemonade[4:7])

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172

   Revenue
4    69.25
5    43.00
6    43.00

- + 행의 인덱스자체가 제거됨

- 특정 값만 추출하는데 함수filter를 사용할 수 있지만 조건식을 이용하는 것이 더 편하다.
- 참 거짓으로 구분한 뒤 참만을 뽑도록 한다.

lemonade[조건식]

In [24]:
#데이터 [데이터 컬럼 == 특정값]
lemonade_L=lemonade[lemonade['Location'] == 'Beach']
print(lemonade_L)
#lemonade['Location'] == 'Beach'->참 거짓으로 구분한 뒤 참인 그 값(Beach)을 불러내면 lemonade[lemonade['Location'] == 'Beach'] 그값(Beach)만 나옴

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
3    7/4/2016    Beach    134      99           76      98.0   0.25   233
4    7/5/2016    Beach    159     118           78     135.0   0.25   277
5    7/6/2016    Beach    103      69           82      90.0   0.25   172
6    7/6/2016    Beach    103      69           82      90.0   0.25   172
7    7/7/2016    Beach    143     101           81     135.0   0.25   244
8         NaN    Beach    123      86           82     113.0   0.25   209
9    7/9/2016    Beach    134      95           80     126.0   0.25   229
10  7/10/2016    Beach    140      98           82     131.0   0.25   238
11  7/11/2016    Beach    162     120           83     135.0   0.25   282
12  7/12/2016    Beach    130      95           84      99.0   0.25   225
13  7/13/2016    Beach    109      75           77      99.0   0.25   184
14  7/14/2016    Beach    122      85           78     113.0   0.25   207
15  7/15/2016    Beach     98      62           75     108.0   0.50   160
16  7/16/2016    Beach     81      50           74      90.0   0.50   131
17  7/17/2016    Beach    115      76           77     126.0   0.50   191
30  7/30/2016    Beach     88      57           82      81.0   0.35   145
31  7/31/2016    Beach     76      47           82      68.0   0.35   123

    Revenue
3     58.25
4     69.25
5     43.00
6     43.00
7     61.00
8     52.25
9     57.25
10    59.50
11    70.50
12    56.25
13    46.00
14    51.75
15    80.00
16    65.50
17    95.50
30    50.75
31    43.05

In [26]:
print(lemonade[lemonade['Temperature'] >= 80])#온도가 80이 넘는 것을 뽑아내라

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
5    7/6/2016    Beach    103      69           82      90.0   0.25   172
6    7/6/2016    Beach    103      69           82      90.0   0.25   172
7    7/7/2016    Beach    143     101           81     135.0   0.25   244
8         NaN    Beach    123      86           82     113.0   0.25   209
9    7/9/2016    Beach    134      95           80     126.0   0.25   229
10  7/10/2016    Beach    140      98           82     131.0   0.25   238
11  7/11/2016    Beach    162     120           83     135.0   0.25   282
12  7/12/2016    Beach    130      95           84      99.0   0.25   225
18  7/18/2016     Park    131      92           81     122.0   0.50   223
22  7/22/2016     Park    112      75           80     108.0   0.50   187
23  7/23/2016     Park    120      82           81     117.0   0.50   202
24  7/24/2016     Park    121      82           82     117.0   0.50   203
25  7/25/2016     Park    156     113           84     135.0   0.50   269
26  7/26/2016     Park    176     129           83     158.0   0.35   305
27  7/27/2016     Park    104      68           80      99.0   0.35   172
28  7/28/2016     Park     96      63           82      90.0   0.35   159
29  7/29/2016     Park    100      66           81      95.0   0.35   166
30  7/30/2016    Beach     88      57           82      81.0   0.35   145
31  7/31/2016    Beach     76      47           82      68.0   0.35   123

    Revenue
5     43.00
6     43.00
7     61.00
8     52.25
9     57.25
10    59.50
11    70.50
12    56.25
18   111.50
22    93.50
23   101.00
24   101.50
25   134.50
26   106.75
27    60.20
28    55.65
29    58.10
30    50.75
31    43.05

In [27]:
print(lemonade[(lemonade['Temperature'] >= 80) & (lemonade['Orange'] >= 100)]) #lemonade[(조건식)&(조건식2)]온도가 80넘고 오랜지가100이상인 것

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
7    7/7/2016    Beach    143     101           81     135.0   0.25   244
11  7/11/2016    Beach    162     120           83     135.0   0.25   282
25  7/25/2016     Park    156     113           84     135.0   0.50   269
26  7/26/2016     Park    176     129           83     158.0   0.35   305

    Revenue
7     61.00
11    70.50
25   134.50
26   106.75

In [28]:
print(lemonade[(lemonade['Temperature'] >= 80) & (lemonade['Orange'] >= 100) & (lemonade['Location'] == "Park")])

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
25  7/25/2016     Park    156     113           84     135.0   0.50   269
26  7/26/2016     Park    176     129           83     158.0   0.35   305

    Revenue
25   134.50
26   106.75

## iloc와 loc의 차이
- iloc는 인덱스의 "숫자"로 loc는 라벨의 "이름"으로 내용을 선택한다.
- loc가 사용하기 편하다.

In [29]:
print(lemonade.loc[lemonade['Temperature'] >= 80,['Date','Sold']]) #온도가 80이 넘는 것 중 라벨명이 날자와 판매량을 찾아라(중요)

         Date  Sold
5    7/6/2016   172
6    7/6/2016   172
7    7/7/2016   244
8         NaN   209
9    7/9/2016   229
10  7/10/2016   238
11  7/11/2016   282
12  7/12/2016   225
18  7/18/2016   223
22  7/22/2016   187
23  7/23/2016   202
24  7/24/2016   203
25  7/25/2016   269
26  7/26/2016   305
27  7/27/2016   172
28  7/28/2016   159
29  7/29/2016   166
30  7/30/2016   145
31  7/31/2016   123

- 문법상의 차이 확인 
 + 숫자(ilot)
 + 라벨(lot)=글자 숫자 문자 동시

In [ ]:
print(lemonade.iloc[0:3,0:2]) # [행-인덱스번호부터 시작, 열]

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [ ]:
print(lemonade.loc[0:2,['Date','Location']])# 똑같은 결과이지만 라벨은 행의 시작 위치 컬럼부터 시작

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

## 데이터 정렬
- sort_values()

In [ ]:
#lemonade.head()
print(lemonade.sort_values(by=['Revenue']).head(5))

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0    7/1/2016     Park     97      67           70      90.0   0.25   164
1    7/2/2016     Park     98      67           72      90.0   0.25   165
6    7/6/2016    Beach    103      69           82      90.0   0.25   172
5    7/6/2016    Beach    103      69           82      90.0   0.25   172
31  7/31/2016    Beach     76      47           82      68.0   0.35   123

    Revenue
0     41.00
1     41.25
6     43.00
5     43.00
31    43.05

In [ ]:
print(lemonade[['Date','Temperature','Revenue']].sort_values(by=['Temperature','Revenue']).head(5))

         Date  Temperature  Revenue
0    7/1/2016           70    41.00
20  7/20/2016           70    56.50
2    7/3/2016           71    46.75
1    7/2/2016           72    41.25
16  7/16/2016           74    65.50

In [ ]:
print(lemonade[['Date','Temperature','Revenue']].sort_values(by=['Temperature','Revenue'],ascending=[True,False]).head(5))

         Date  Temperature  Revenue
20  7/20/2016           70    56.50
0    7/1/2016           70    41.00
2    7/3/2016           71    46.75
1    7/2/2016           72    41.25
16  7/16/2016           74    65.50

In [ ]:
print(lemonade[['Date','Temperature','Revenue']].sort_values(by=['Temperature','Revenue'],ascending=[False,True]).head(5))

         Date  Temperature  Revenue
12  7/12/2016           84    56.25
25  7/25/2016           84   134.50
11  7/11/2016           83    70.50
26  7/26/2016           83   106.75
5    7/6/2016           82    43.00

## Group by
 - cf)인덱스가 숫자에서 라벨로 바뀜

In [ ]:
df = lemonade.groupby(by='Location').count()
print(df)
print("")
print(type(df))

          Date  Lemon  Orange  Temperature  Leaflets  Price  Sold  Revenue
Location
Beach       16     17      17           17        17     17    17       17
Park        15     15      15           15        14     15    15       15

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df[['Date','Lemon']]
print(df[['Date','Lemon']])

          Date  Lemon
Location
Beach       16     17
Park        15     15

In [ ]:
print(df.iloc[0:1,0:2])

          Date  Lemon
Location
Beach       16     17

In [ ]:
print(df.loc['Park', ['Date', 'Lemon']])

Date     15
Lemon    15
Name: Park, dtype: int64

- 간단한 피벗 테이블 만들기

In [30]:
print(lemonade.groupby('Location')['Revenue'].agg([max,min,sum,np.mean]))

            max   min     sum       mean
Location
Beach      95.5  43.0  1002.8  58.988235
Park      134.5  41.0  1178.2  78.546667

- 지역별로 매출액의 최대값, 최소값, 합계, 평균을 구한다.

In [31]:
print(lemonade.groupby('Location')['Revenue','Sold','Temperature'].agg([max,min,sum,np.mean]))

         Revenue                          Sold                         \
             max   min     sum       mean  max  min   sum        mean
Location
Beach       95.5  43.0  1002.8  58.988235  282  123  3422  201.294118
Park       134.5  41.0  1178.2  78.546667  305  113  2855  190.333333

         Temperature
                 max min   sum       mean
Location
Beach             84  74  1355  79.705882
Park              84  70  1172  78.133333

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [32]:
print(lemonade.groupby(['Location', 'Price'])['Orange'].agg([max, min, sum, np.mean]))

                max  min   sum       mean
Location Price
Beach    0.25   120   69  1110  92.500000
         0.35    57   47   104  52.000000
         0.50    76   50   188  62.666667
Park     0.25    77   67   211  70.333333
         0.35   129   63   326  81.500000
         0.50   113   42   621  77.625000

<--지역에 따라 오렌지의 단가별 최대판매량, 최소판매량, 총합, 평균