# 결측치 데이터
- 코로나 데이터셋
  + 데이터는 https://github.com/owid/covid-19-data/tree/master/public/data/
  + 매일 업데이트 된다는 점에 유의한다. 
- 2022년 1월 9일자로 데이터를 다운로드 받았다. 
  + 결괏값은 조금 다를 수 있다.

## 구글 드라이브 연동 코드

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

- 제공된 데이터를 불러온다.

In [ ]:
import pandas as pd 
import numpy as np 

DATA_PATH = "/content/drive/MyDrive/Colab Notebooks/2022/lecture notes/PART_I/Chapter 3. pandas/data/owid-covid-data.csv"
df = pd.read_csv(DATA_PATH)
df

FileNotFoundError: ignored

In [1]:
import pandas as pd 
import numpy as np

url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
df = pd.read_csv(url)
df

       iso_code  ... excess_mortality_cumulative_per_million
0           AFG  ...                                     NaN
1           AFG  ...                                     NaN
2           AFG  ...                                     NaN
3           AFG  ...                                     NaN
4           AFG  ...                                     NaN
...         ...  ...                                     ...
153625      ZWE  ...                                     NaN
153626      ZWE  ...                                     NaN
153627      ZWE  ...                                     NaN
153628      ZWE  ...                                     NaN
153629      ZWE  ...                                     NaN

[153630 rows x 67 columns]

## 결측치 확인
- 코드북은 다음 URL에서 확인할 수 있다. 
  + 참조: https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-codebook.csv

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153630 entries, 0 to 153629
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    153630 non-null  object
 1   continent                                   144376 non-null  object
 2   location                                    153630 non-null  object
 3   date                                        153630 non-null  object
 4   total_cases                                 150978 non-null  float64
 5   new_cases                                   150903 non-null  float64
 6   new_cases_smoothed                          149752 non-null  float64
 7   total_deaths                                133709 non-null  float64
 8   new_deaths                                  133870 non-null  float64
 9   new_deaths_smoothed                         133738 non-null  float64
 10  total_cases_per_million                     150274 non-null  float64
 11  new_cases_per_million                       150199 non-null  float64
 12  new_cases_smoothed_per_million              149053 non-null  float64
 13  total_deaths_per_million                    133018 non-null  float64
 14  new_deaths_per_million                      133179 non-null  float64
 15  new_deaths_smoothed_per_million             133047 non-null  float64
 16  reproduction_rate                           114970 non-null  float64
 17  icu_patients                                19529 non-null   float64
 18  icu_patients_per_million                    19529 non-null   float64
 19  hosp_patients                               21339 non-null   float64
 20  hosp_patients_per_million                   21339 non-null   float64
 21  weekly_icu_admissions                       4351 non-null    float64
 22  weekly_icu_admissions_per_million           4351 non-null    float64
 23  weekly_hosp_admissions                      9268 non-null    float64
 24  weekly_hosp_admissions_per_million          9268 non-null    float64
 25  new_tests                                   60930 non-null   float64
 26  total_tests                                 62336 non-null   float64
 27  total_tests_per_thousand                    62336 non-null   float64
 28  new_tests_per_thousand                      60930 non-null   float64
 29  new_tests_smoothed                          74447 non-null   float64
 30  new_tests_smoothed_per_thousand             73744 non-null   float64
 31  positive_rate                               69506 non-null   float64
 32  tests_per_case                              68843 non-null   float64
 33  tests_units                                 75921 non-null   object
 34  total_vaccinations                          39939 non-null   float64
 35  people_vaccinated                           38238 non-null   float64
 36  people_fully_vaccinated                     35376 non-null   float64
 37  total_boosters                              12840 non-null   float64
 38  new_vaccinations                            33180 non-null   float64
 39  new_vaccinations_smoothed                   72199 non-null   float64
 40  total_vaccinations_per_hundred              39939 non-null   float64
 41  people_vaccinated_per_hundred               38238 non-null   float64
 42  people_fully_vaccinated_per_hundred         35376 non-null   float64
 43  total_boosters_per_hundred                  12840 non-null   float64
 44  new_vaccinations_smoothed_per_million       72199 non-null   float64
 45  new_people_vaccinated_smoothed              70969 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  70969 non-null   float64
 47  stringency_index                            120295 non-null  float64
 48  population                                  152609 non-null  float64
 49  population_density                          136744 non-null  float64
 50  median_age                                  127607 non-null  float64
 51  aged_65_older                               126221 non-null  float64
 52  aged_70_older                               126922 non-null  float64
 53  gdp_per_capita                              128022 non-null  float64
 54  extreme_poverty                             84501 non-null   float64
 55  cardiovasc_death_rate                       126608 non-null  float64
 56  diabetes_prevalence                         133099 non-null  float64
 57  female_smokers                              98062 non-null   float64
 58  male_smokers                                96650 non-null   float64
 59  handwashing_facilities                      63412 non-null   float64
 60  hospital_beds_per_thousand                  114380 non-null  float64
 61  life_expectancy                             143376 non-null  float64
 62  human_development_index                     126083 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 78.5+ MB

- 데이터를 크게 두개로 구분하여 분류한다. 
  + Covid Case & Demographic Columns

In [3]:
case_vars = ["location", "total_cases", "total_deaths", "total_cases_per_million", "total_deaths_per_million"]
demo_vars = ["population", "population_density", "median_age", "gdp_per_capita", "hospital_beds_per_thousand"]

df[demo_vars].isnull().sum(axis = 0)

population                     1021
population_density            16886
median_age                    26023
gdp_per_capita                25608
hospital_beds_per_thousand    39250
dtype: int64

In [4]:
df[case_vars].isnull().sum(axis = 0)

location                        0
total_cases                  2652
total_deaths                19921
total_cases_per_million      3356
total_deaths_per_million    20612
dtype: int64

- 이번에는 행 방향으로 발생한 결측치를 확인한다.

In [5]:
demovars_misscnt = df[demo_vars].isnull().sum(axis=1)
demovars_misscnt.value_counts()

0    108297
1     18005
4     13833
2      7076
3      5398
5      1021
dtype: int64

- 인구 통계 데이터가 4가지 이상 누락된 국가를 나열해보자.

In [6]:
df.loc[demovars_misscnt >= 4, ['location'] + demo_vars]['location'].value_counts()

Lower middle income                720
High income                        720
North America                      720
Asia                               720
Upper middle income                720
European Union                     719
Europe                             719
Oceania                            717
International                      704
Africa                             698
South America                      689
Low income                         688
Vatican                            676
Montserrat                         664
Anguilla                           654
Bonaire Sint Eustatius and Saba    649
Falkland Islands                   647
Saint Pierre and Miquelon          646
Saint Helena                       491
Wallis and Futuna                  449
Guernsey                           352
Northern Cyprus                    317
Jersey                             298
Cook Islands                       235
Tokelau                            114
Pitcairn                            85
Niue                                43
Name: location, dtype: int64

- 이러한 국가들은 제거를 하는 것이 좋다.

In [7]:
miss_locations = list(df.loc[demovars_misscnt >= 4, ['location'] + demo_vars]['location'].value_counts().index)
miss_locations[0:5]

['Lower middle income',
 'High income',
 'North America',
 'Asia',
 'Upper middle income']

- 기존 15만개 데이터에서 13만개 데이터로 줄임

In [8]:
df2 = df[~df['location'].isin(miss_locations)].reset_index(drop = False) 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138776 entries, 0 to 138775
Data columns (total 68 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   index                                       138776 non-null  int64
 1   iso_code                                    138776 non-null  object
 2   continent                                   138056 non-null  object
 3   location                                    138776 non-null  object
 4   date                                        138776 non-null  object
 5   total_cases                                 137340 non-null  float64
 6   new_cases                                   137258 non-null  float64
 7   new_cases_smoothed                          136223 non-null  float64
 8   total_deaths                                123871 non-null  float64
 9   new_deaths                                  123832 non-null  float64
 10  new_deaths_smoothed                         123766 non-null  float64
 11  total_cases_per_million                     137340 non-null  float64
 12  new_cases_per_million                       137258 non-null  float64
 13  new_cases_smoothed_per_million              136223 non-null  float64
 14  total_deaths_per_million                    123871 non-null  float64
 15  new_deaths_per_million                      123832 non-null  float64
 16  new_deaths_smoothed_per_million             123766 non-null  float64
 17  reproduction_rate                           114970 non-null  float64
 18  icu_patients                                19529 non-null   float64
 19  icu_patients_per_million                    19529 non-null   float64
 20  hosp_patients                               21339 non-null   float64
 21  hosp_patients_per_million                   21339 non-null   float64
 22  weekly_icu_admissions                       4351 non-null    float64
 23  weekly_icu_admissions_per_million           4351 non-null    float64
 24  weekly_hosp_admissions                      9268 non-null    float64
 25  weekly_hosp_admissions_per_million          9268 non-null    float64
 26  new_tests                                   60930 non-null   float64
 27  total_tests                                 62336 non-null   float64
 28  total_tests_per_thousand                    62336 non-null   float64
 29  new_tests_per_thousand                      60930 non-null   float64
 30  new_tests_smoothed                          73744 non-null   float64
 31  new_tests_smoothed_per_thousand             73744 non-null   float64
 32  positive_rate                               69506 non-null   float64
 33  tests_per_case                              68843 non-null   float64
 34  tests_units                                 75921 non-null   object
 35  total_vaccinations                          35493 non-null   float64
 36  people_vaccinated                           33880 non-null   float64
 37  people_fully_vaccinated                     31207 non-null   float64
 38  total_boosters                              9898 non-null    float64
 39  new_vaccinations                            29060 non-null   float64
 40  new_vaccinations_smoothed                   65422 non-null   float64
 41  total_vaccinations_per_hundred              35493 non-null   float64
 42  people_vaccinated_per_hundred               33880 non-null   float64
 43  people_fully_vaccinated_per_hundred         31207 non-null   float64
 44  total_boosters_per_hundred                  9898 non-null    float64
 45  new_vaccinations_smoothed_per_million       65422 non-null   float64
 46  new_people_vaccinated_smoothed              64527 non-null   float64
 47  new_people_vaccinated_smoothed_per_hundred  64527 non-null   float64
 48  stringency_index                            120295 non-null  float64
 49  population                                  138776 non-null  float64
 50  population_density                          136744 non-null  float64
 51  median_age                                  127607 non-null  float64
 52  aged_65_older                               126221 non-null  float64
 53  aged_70_older                               126922 non-null  float64
 54  gdp_per_capita                              128022 non-null  float64
 55  extreme_poverty                             84501 non-null   float64
 56  cardiovasc_death_rate                       126608 non-null  float64
 57  diabetes_prevalence                         133099 non-null  float64
 58  female_smokers                              98062 non-null   float64
 59  male_smokers                                96650 non-null   float64
 60  handwashing_facilities                      63412 non-null   float64
 61  hospital_beds_per_thousand                  114380 non-null  float64
 62  life_expectancy                             138108 non-null  float64
 63  human_development_index                     126083 non-null  float64
 64  excess_mortality_cumulative_absolute        5234 non-null    float64
 65  excess_mortality_cumulative                 5234 non-null    float64
 66  excess_mortality                            5234 non-null    float64
 67  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), int64(1), object(5)
memory usage: 72.0+ MB

# 행 필터
- 날짜를 기준으로 코로나 초기부터 6월 30일까지 데이터만 추출한다.

In [9]:
df3 = df2.loc[df2['date'].between("2020-02-24", "2020-06-30")]
df3

         index  ... excess_mortality_cumulative_per_million
0            0  ...                                     NaN
1            1  ...                                     NaN
2            2  ...                                     NaN
3            3  ...                                     NaN
4            4  ...                                     NaN
...        ...  ...                                     ...
138212  153066  ...                                     NaN
138213  153067  ...                                     NaN
138214  153068  ...                                     NaN
138215  153069  ...                                     NaN
138216  153070  ...                                     NaN

[22872 rows x 68 columns]

- 이번에 다시 결측치가 존재하는 행을 추출한다.

In [10]:
demovars_misscnt = df3[demo_vars].isnull().sum(axis=1)
demovars_misscnt.value_counts()

0    18314
1     2595
2     1076
3      887
dtype: int64

- 결측치가 3개인 데이터를 조회한다.

In [11]:
df3.loc[demovars_misscnt >= 3, ['location'] + demo_vars]['location'].value_counts()

Taiwan                      128
Andorra                     121
Faeroe Islands              119
Gibraltar                   119
Greenland                   107
Isle of Man                 103
British Virgin Islands       95
Turks and Caicos Islands     95
Name: location, dtype: int64

In [12]:
df3[df3['location'] == "Taiwan"][['date'] + demo_vars]

              date  population  ...  gdp_per_capita  hospital_beds_per_thousand
122107  2020-02-24  23855008.0  ...             NaN                         NaN
122108  2020-02-25  23855008.0  ...             NaN                         NaN
122109  2020-02-26  23855008.0  ...             NaN                         NaN
122110  2020-02-27  23855008.0  ...             NaN                         NaN
122111  2020-02-28  23855008.0  ...             NaN                         NaN
...            ...         ...  ...             ...                         ...
122230  2020-06-26  23855008.0  ...             NaN                         NaN
122231  2020-06-27  23855008.0  ...             NaN                         NaN
122232  2020-06-28  23855008.0  ...             NaN                         NaN
122233  2020-06-29  23855008.0  ...             NaN                         NaN
122234  2020-06-30  23855008.0  ...             NaN                         NaN

[128 rows x 6 columns]

- 이번에는 코로나 사례 데이터의 결측치를 확인한다.

In [13]:
totvars_misscnt = df3[case_vars].isnull().sum(axis=1)
totvars_misscnt.value_counts()

0    17139
2     5555
4      178
dtype: int64

In [14]:
df3.loc[totvars_misscnt == 4, case_vars]['location'].value_counts()

Fiji            24
Libya           20
Guatemala       19
Albania         13
Peru            11
Slovenia        10
South Africa    10
Serbia           9
Argentina        8
Morocco          7
Kenya            7
Bangladesh       5
Luxembourg       5
Malawi           4
Mexico           4
Estonia          3
Senegal          3
Denmark          3
Cyprus           2
Togo             2
Latvia           2
Malta            2
Paraguay         1
Hungary          1
Iceland          1
Portugal         1
Panama           1
Name: location, dtype: int64

- Iceland 국가만 확인한다.

In [15]:
df3[df3['location'] == "Portugal"]

         index  ... excess_mortality_cumulative_per_million
101190  112259  ...                             -191.051801
101191  112260  ...                                     NaN
101192  112261  ...                                     NaN
101193  112262  ...                                     NaN
101194  112263  ...                                     NaN
...        ...  ...                                     ...
101307  112376  ...                                     NaN
101308  112377  ...                                     NaN
101309  112378  ...                               86.507343
101310  112379  ...                                     NaN
101311  112380  ...                                     NaN

[122 rows x 68 columns]

## 결측치 채우기

In [16]:
df4 = df3.copy()
df4[case_vars].isnull().sum(axis = 0)

location                       0
total_cases                  179
total_deaths                5732
total_cases_per_million      179
total_deaths_per_million    5732
dtype: int64

In [17]:
df4[case_vars].fillna(0)

           location  ...  total_deaths_per_million
0       Afghanistan  ...                     0.000
1       Afghanistan  ...                     0.000
2       Afghanistan  ...                     0.000
3       Afghanistan  ...                     0.000
4       Afghanistan  ...                     0.000
...             ...  ...                       ...
138212     Zimbabwe  ...                     0.398
138213     Zimbabwe  ...                     0.398
138214     Zimbabwe  ...                     0.398
138215     Zimbabwe  ...                     0.464
138216     Zimbabwe  ...                     0.464

[22872 rows x 5 columns]

# 이상값의 정의
- 다소 주관적이며(Somewhat Subjective), 특정 분포의 중심경향성, 퍼진 정도와 형태에 따라 밀접한 관련이 있다.
  + 평균에서 표준편차보다 몇 배 더 떨어져 있다거나, 즉, 정규분포를 이루고 있지 않을 때
  + 왜도 또는 첨도가 발생할 때
- 균등분포(Uniform Distribution)는, 발생할 확률이 모두 같다.
  + 만약, 확진자수가 최소 1부터 최대 10,000,000까지 균등하게 분포한다면, 어떤 값도 이상값으로 고려하지 않는다.
- 이상값을 파악하려면, 반드시, 각 변수의 분포를 먼저 이해해야 한다.

In [62]:
case_vars = ["location", "total_cases", "total_deaths", "total_cases_per_million", "total_deaths_per_million"]
demo_vars = ["population", "population_density", "median_age", "gdp_per_capita", "hospital_beds_per_thousand"]

outlier_df = df.loc[df['date'].between("2020-02-24", "2020-04-30")]
outlier_df = outlier_df[demo_vars + case_vars]

- describe() 함수를 통해서 수치 데이터의 분포를 확인한다.

In [64]:
outlier_case_df = outlier_df.loc[:, case_vars]
outlier_case_df = outlier_case_df.drop_duplicates()
outlier_case_df.describe()

        total_cases  ...  total_deaths_per_million
count  8.414000e+03  ...               6376.000000
mean   3.783374e+04  ...                 26.737916
std    1.987200e+05  ...                 94.933415
min    1.000000e+00  ...                  0.001000
25%    6.900000e+01  ...                  0.353000
50%    4.820000e+02  ...                  1.764500
75%    3.897000e+03  ...                  9.798500
max    3.281736e+06  ...               1205.528000

[8 rows x 4 columns]

- 백분위수로 quantile로 데이터를 표시한다.

In [65]:
outlier_case_df.quantile(np.arange(0.0, 1.1, 0.1))

     total_cases  ...  total_deaths_per_million
0.0          1.0  ...                    0.0010
0.1         13.0  ...                    0.0880
0.2         44.0  ...                    0.2470
0.3        104.0  ...                    0.4870
0.4        237.0  ...                    0.9200
0.5        482.0  ...                    1.7645
0.6       1009.0  ...                    3.0130
0.7       2272.1  ...                    6.0680
0.8       6897.6  ...                   15.7140
0.9      37837.7  ...                   51.3010
1.0    3281736.0  ...                 1205.5280

[11 rows x 4 columns]

In [71]:
outlier_case_df.shape

(8442, 5)

- 연속형 변수의 이상값 범위는 1사분위-3사분위의 거리를 재는 것이다. 그 거리가 사분위범위의 1.5배를 넘으면 그 값을 이상값으로 간주한다.

In [72]:
thirdq = outlier_case_df["total_cases"].quantile(0.75)
firstq = outlier_case_df["total_cases"].quantile(0.25)
interquantile_range = 1.5 * (thirdq - firstq)
outlier_high = interquantile_range + thirdq
outlier_low = firstq - interquantile_range

print(outlier_low, outlier_high, sep = " <---> ")

-5673.0 <---> 9639.0

- 이상치를 제거한 데이터를 가져온다.

In [82]:
remove_out_lier_df = outlier_case_df.loc[~(outlier_case_df["total_cases"] > outlier_high) | (outlier_case_df["total_cases"] < outlier_low)]
print(remove_out_lier_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7015 entries, 0 to 153009
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   location                  7015 non-null   object
 1   total_cases               6987 non-null   float64
 2   total_deaths              4961 non-null   float64
 3   total_cases_per_million   6975 non-null   float64
 4   total_deaths_per_million  4949 non-null   float64
dtypes: float64(4), object(1)
memory usage: 328.8+ KB
None

In [85]:
remove_out_lier_df = remove_out_lier_df.reset_index(drop=True)
remove_out_lier_df

         location  ...  total_deaths_per_million
0     Afghanistan  ...                       NaN
1     Afghanistan  ...                       NaN
2     Afghanistan  ...                       NaN
3     Afghanistan  ...                       NaN
4     Afghanistan  ...                       NaN
...           ...  ...                       ...
7010     Zimbabwe  ...                     0.265
7011     Zimbabwe  ...                     0.265
7012     Zimbabwe  ...                     0.265
7013     Zimbabwe  ...                     0.265
7014     Zimbabwe  ...                     0.265

[7015 rows x 5 columns]

# NumPy와 Pandas와의 조합

In [86]:
import pandas as pd 
import numpy as np

df = pd.DataFrame({
    '과일': ['사과', '자두', '사과', '자두'],
    '판매사': ['A', 'A', 'B', 'B'],
    '판매무게 (kg)': [10,20,30,40],
    '판매별점': [4, 3, 5, 3.5]
})

A_price = pd.DataFrame({
    '과일': ['사과', '바나나', '자두', '파인애플'],
    '가격 (kg)': [7000, 5000, 5000, 6000]
})

B_price = pd.DataFrame({
    '과일': ['사과', '바나나', '자두', '파인애플'],
    '가격 (kg)': [6500, 5500, 6000, 5000]
})

- 기존 df에 각 품목에 맞는 것만 가져와서 kg당 가격을 추가하는 코드를 짜본다. 
- 먼저 `fruit` 함수를 인덱스로 추가한다.

In [87]:
df = df.set_index("과일")
A_price = A_price.set_index("과일")
B_price = B_price.set_index("과일")

- np.where 함수를 적용하여 각 판매사에 맞는 kg당 가격을 추가한다.

In [88]:
df['가격 (kg)'] = np.where(
    df['판매사'] == 'A', 
    A_price.loc[df.index]['가격 (kg)'], 
    B_price.loc[df.index]['가격 (kg)']
)

df

   판매사  판매무게 (kg)  판매별점  가격 (kg)
과일
사과   A         10   4.0     7000
자두   A         20   3.0     5000
사과   B         30   5.0     6500
자두   B         40   3.5     6000

- 이번에는 판매사가 3개일 때 경우의 수를 생각해본다.

In [89]:
import pandas as pd 
import numpy as np

df = pd.DataFrame({
    '과일': ['사과', '자두', '사과', '자두', '사과', '자두'],
    '판매사': ['A', 'A', 'B', 'B', 'C', 'C'],
    '판매무게 (kg)': [10,20,30,40, 15, 20],
    '판매별점': [4, 3, 5, 3.5, 4, 5]
})

df_price = pd.DataFrame({
    '과일': ['사과', '바나나', '자두', '파인애플'],
    'A' : [7000, 5000, 5000, 6000], 
    'B' : [6500, 5500, 6000, 5000], 
    'C' : [2000, 3000, 3000, 4000]
})

df = df.set_index("과일")
df

   판매사  판매무게 (kg)  판매별점
과일
사과   A         10   4.0
자두   A         20   3.0
사과   B         30   5.0
자두   B         40   3.5
사과   C         15   4.0
자두   C         20   5.0

In [90]:
df_price = df_price.set_index('과일')
df_price

         A     B     C
과일
사과    7000  6500  2000
바나나   5000  5500  3000
자두    5000  6000  3000
파인애플  6000  5000  4000

In [91]:
args = df_price.loc[df.index]
args

       A     B     C
과일
사과  7000  6500  2000
자두  5000  6000  3000
사과  7000  6500  2000
자두  5000  6000  3000
사과  7000  6500  2000
자두  5000  6000  3000

In [92]:
conds = [
    df['판매사'] == 'A', 
    df['판매사'] == 'B', 
    df['판매사'] == 'C', 
]

choices = [
    args['A'], 
    args['B'], 
    args['C']
]
choices

[과일
 사과    7000
 자두    5000
 사과    7000
 자두    5000
 사과    7000
 자두    5000
 Name: A, dtype: int64, 과일
 사과    6500
 자두    6000
 사과    6500
 자두    6000
 사과    6500
 자두    6000
 Name: B, dtype: int64, 과일
 사과    2000
 자두    3000
 사과    2000
 자두    3000
 사과    2000
 자두    3000
 Name: C, dtype: int64]

In [93]:
df['price (kg)'] = np.select(conds, choices)
df

   판매사  판매무게 (kg)  판매별점  price (kg)
과일
사과   A         10   4.0        7000
자두   A         20   3.0        5000
사과   B         30   5.0        6500
자두   B         40   3.5        6000
사과   C         15   4.0        2000
자두   C         20   5.0        3000

# NumPy 함수 활용한 변수 선택하기

In [94]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153630 entries, 0 to 153629
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    153630 non-null  object
 1   continent                                   144376 non-null  object
 2   location                                    153630 non-null  object
 3   date                                        153630 non-null  object
 4   total_cases                                 150978 non-null  float64
 5   new_cases                                   150903 non-null  float64
 6   new_cases_smoothed                          149752 non-null  float64
 7   total_deaths                                133709 non-null  float64
 8   new_deaths                                  133870 non-null  float64
 9   new_deaths_smoothed                         133738 non-null  float64
 10  total_cases_per_million                     150274 non-null  float64
 11  new_cases_per_million                       150199 non-null  float64
 12  new_cases_smoothed_per_million              149053 non-null  float64
 13  total_deaths_per_million                    133018 non-null  float64
 14  new_deaths_per_million                      133179 non-null  float64
 15  new_deaths_smoothed_per_million             133047 non-null  float64
 16  reproduction_rate                           114970 non-null  float64
 17  icu_patients                                19529 non-null   float64
 18  icu_patients_per_million                    19529 non-null   float64
 19  hosp_patients                               21339 non-null   float64
 20  hosp_patients_per_million                   21339 non-null   float64
 21  weekly_icu_admissions                       4351 non-null    float64
 22  weekly_icu_admissions_per_million           4351 non-null    float64
 23  weekly_hosp_admissions                      9268 non-null    float64
 24  weekly_hosp_admissions_per_million          9268 non-null    float64
 25  new_tests                                   60930 non-null   float64
 26  total_tests                                 62336 non-null   float64
 27  total_tests_per_thousand                    62336 non-null   float64
 28  new_tests_per_thousand                      60930 non-null   float64
 29  new_tests_smoothed                          74447 non-null   float64
 30  new_tests_smoothed_per_thousand             73744 non-null   float64
 31  positive_rate                               69506 non-null   float64
 32  tests_per_case                              68843 non-null   float64
 33  tests_units                                 75921 non-null   object
 34  total_vaccinations                          39939 non-null   float64
 35  people_vaccinated                           38238 non-null   float64
 36  people_fully_vaccinated                     35376 non-null   float64
 37  total_boosters                              12840 non-null   float64
 38  new_vaccinations                            33180 non-null   float64
 39  new_vaccinations_smoothed                   72199 non-null   float64
 40  total_vaccinations_per_hundred              39939 non-null   float64
 41  people_vaccinated_per_hundred               38238 non-null   float64
 42  people_fully_vaccinated_per_hundred         35376 non-null   float64
 43  total_boosters_per_hundred                  12840 non-null   float64
 44  new_vaccinations_smoothed_per_million       72199 non-null   float64
 45  new_people_vaccinated_smoothed              70969 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  70969 non-null   float64
 47  stringency_index                            120295 non-null  float64
 48  population                                  152609 non-null  float64
 49  population_density                          136744 non-null  float64
 50  median_age                                  127607 non-null  float64
 51  aged_65_older                               126221 non-null  float64
 52  aged_70_older                               126922 non-null  float64
 53  gdp_per_capita                              128022 non-null  float64
 54  extreme_poverty                             84501 non-null   float64
 55  cardiovasc_death_rate                       126608 non-null  float64
 56  diabetes_prevalence                         133099 non-null  float64
 57  female_smokers                              98062 non-null   float64
 58  male_smokers                                96650 non-null   float64
 59  handwashing_facilities                      63412 non-null   float64
 60  hospital_beds_per_thousand                  114380 non-null  float64
 61  life_expectancy                             143376 non-null  float64
 62  human_development_index                     126083 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 78.5+ MB

- 참조: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html

In [97]:
df_objects_only = df.select_dtypes(include='object')
df_objects_only

       iso_code continent     location        date      tests_units
0           AFG      Asia  Afghanistan  2020-02-24              NaN
1           AFG      Asia  Afghanistan  2020-02-25              NaN
2           AFG      Asia  Afghanistan  2020-02-26              NaN
3           AFG      Asia  Afghanistan  2020-02-27              NaN
4           AFG      Asia  Afghanistan  2020-02-28              NaN
...         ...       ...          ...         ...              ...
153625      ZWE    Africa     Zimbabwe  2022-01-06  tests performed
153626      ZWE    Africa     Zimbabwe  2022-01-07  tests performed
153627      ZWE    Africa     Zimbabwe  2022-01-08              NaN
153628      ZWE    Africa     Zimbabwe  2022-01-09              NaN
153629      ZWE    Africa     Zimbabwe  2022-01-10              NaN

[153630 rows x 5 columns]

In [95]:
df_numerics_only = df.select_dtypes(include=np.number)
df_numerics_only

        total_cases  ...  excess_mortality_cumulative_per_million
0               5.0  ...                                      NaN
1               5.0  ...                                      NaN
2               5.0  ...                                      NaN
3               5.0  ...                                      NaN
4               5.0  ...                                      NaN
...             ...  ...                                      ...
153625     220178.0  ...                                      NaN
153626     221282.0  ...                                      NaN
153627     221918.0  ...                                      NaN
153628     221918.0  ...                                      NaN
153629     223000.0  ...                                      NaN

[153630 rows x 62 columns]