## 라이브러리 불러오기

In [2]:
import pandas as pd 
print(pd.__version__)

1.3.5

In [8]:
df = pd.DataFrame({'col1' : [1, 2]})
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   col1
0     1
1     2

## 구글 드라이브 연동

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/2022/Python 데이터 분석 라이브러리_20220423/Basic/Chapter 3. pandas/data/'
juice = pd.read_csv(DATA_PATH + 'Lemonade2016.csv')
juice.head(10) # juice.tail()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25
5  7/6/2016    Beach    103      69           82      90.0   0.25
6  7/6/2016    Beach    103      69           82      90.0   0.25
7  7/7/2016    Beach    143     101           81     135.0   0.25
8       NaN    Beach    123      86           82     113.0   0.25
9  7/9/2016    Beach    134      95           80     126.0   0.25

In [14]:
juice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

-- 특정 컬럼 정의
--- 1 = (광역시), 2 = (특별시), 3 = (도)

In [15]:
juice.describe()

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354687
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

문자열 타입 확인
머신러닝 / 딥러닝 ==> 패턴 찾는 것
데이터 전처리의 최종적인 목적은 ==> 머신러닝 모델의 향상
                                ==> 결과에 맞는 패턴을 정확하게 찾음 (피처 1개)

In [16]:
juice['Date'].value_counts()

7/6/2016     2
7/1/2016     1
7/18/2016    1
7/30/2016    1
7/29/2016    1
7/28/2016    1
7/27/2016    1
7/26/2016    1
7/25/2016    1
7/24/2016    1
7/23/2016    1
7/22/2016    1
7/21/2016    1
7/20/2016    1
7/19/2016    1
7/17/2016    1
7/2/2016     1
7/16/2016    1
7/15/2016    1
7/14/2016    1
7/13/2016    1
7/12/2016    1
7/11/2016    1
7/10/2016    1
7/9/2016     1
7/7/2016     1
7/5/2016     1
7/4/2016     1
7/3/2016     1
7/31/2016    1
Name: Date, dtype: int64

In [17]:
juice['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

# 새로운 데이터 추가

In [20]:
juice['Sold'] = 0
print(juice.tail(3))

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  새로운 컬럼명  \
29  7/29/2016     Park    100      66           81      95.0   0.35        0
30  7/30/2016    Beach     88      57           82      81.0   0.35        0
31  7/31/2016    Beach     76      47           82      68.0   0.35        0

    Sold
29     0
30     0
31     0

In [21]:
juice['Sold'] = juice['Lemon'] + juice['Orange']
print(juice.tail(3))

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  새로운 컬럼명  \
29  7/29/2016     Park    100      66           81      95.0   0.35        0
30  7/30/2016    Beach     88      57           82      81.0   0.35        0
31  7/31/2016    Beach     76      47           82      68.0   0.35        0

    Sold
29   166
30   145
31   123

In [23]:
juice['Revenue'] = juice['Price'] * juice['Sold']
print(juice.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  새로운 컬럼명  \
0  7/1/2016     Park     97      67           70      90.0   0.25        0
1  7/2/2016     Park     98      67           72      90.0   0.25        0
2  7/3/2016     Park    110      77           71     104.0   0.25        0

   Sold  Revenue
0   164    41.00
1   165    41.25
2   187    46.75

- drop() 함수 : 특정 행과 열을 제거
- column 제거

In [24]:
juice_col_drop = juice.drop('Sold', axis = 1)
print(juice_col_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  새로운 컬럼명  \
0  7/1/2016     Park     97      67           70      90.0   0.25        0
1  7/2/2016     Park     98      67           72      90.0   0.25        0
2  7/3/2016     Park    110      77           71     104.0   0.25        0

   Revenue
0    41.00
1    41.25
2    46.75

In [25]:
juice_col_drop = juice.drop('새로운 컬럼명', axis = 1)
print(juice_col_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

   Revenue
0    41.00
1    41.25
2    46.75

In [26]:
juice_row_drop = juice_col_drop.drop(0, axis = 0)
juice_row_drop.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00

In [27]:
juice_row_drop.reset_index(drop=True)

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
1,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
2,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
3,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
4,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
7,NaN,Beach,123,86,82,113.0,0.25,209,52.25
8,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
9,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
10,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
11,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
12,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
13,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
14,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
15,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
16,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
17,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
18,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
19,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
20,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
21,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
22,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
23,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
24,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
25,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
26,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
27,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
28,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
29,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
30,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05

## 인덱싱

In [29]:
juice[0:5]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,새로운 컬럼명,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,0,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,0,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,0,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,0,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,0,277,69.25

# 조건식을 통해서 데이터 추출
- --> 참 또는 거짓
- --> 조건식의 결과가 참인 데이터만 추출

## Beach 데이터만 추출

In [32]:
juice['Location'] == 'Beach'

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
Name: Location, dtype: bool

In [33]:
juice['Sold'] >= 200

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23     True
24     True
25     True
26     True
27    False
28    False
29    False
30    False
31    False
Name: Sold, dtype: bool

## 확장
- 회귀를 돌림 회귀선을 기준으로 True False
- 이상치 기준으로 True, False

In [34]:
juice[juice['Sold'] >= 200]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,새로운 컬럼명,Sold,Revenue
3,7/4/2016,Beach,134,99,76,98.0,0.25,0,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,0,277,69.25
7,7/7/2016,Beach,143,101,81,135.0,0.25,0,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,0,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,0,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,0,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,0,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,0,225,56.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,0,207,51.75
18,7/18/2016,Park,131,92,81,122.0,0.50,0,223,111.50
19,7/19/2016,Park,122,85,78,113.0,0.50,0,207,103.50
23,7/23/2016,Park,120,82,81,117.0,0.50,0,202,101.00
24,7/24/2016,Park,121,82,82,117.0,0.50,0,203,101.50
25,7/25/2016,Park,156,113,84,135.0,0.50,0,269,134.50
26,7/26/2016,Park,176,129,83,158.0,0.35,0,305,106.75

## loc, iloc를 활용한 추출
- iloc : 인덱싱 기반
- loc : 라벨 기반 ("이름")

In [35]:
juice

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,새로운 컬럼명,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,0,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,0,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,0,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,0,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,0,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,0,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,0,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,0,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,0,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,0,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,0,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,0,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,0,225,56.25
13,7/13/2016,Beach,109,75,77,99.0,0.25,0,184,46.00
14,7/14/2016,Beach,122,85,78,113.0,0.25,0,207,51.75
15,7/15/2016,Beach,98,62,75,108.0,0.50,0,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,0,131,65.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,0,191,95.50
18,7/18/2016,Park,131,92,81,122.0,0.50,0,223,111.50
19,7/19/2016,Park,122,85,78,113.0,0.50,0,207,103.50
20,7/20/2016,Park,71,42,70,NaN,0.50,0,113,56.50
21,7/21/2016,Park,83,50,77,90.0,0.50,0,133,66.50
22,7/22/2016,Park,112,75,80,108.0,0.50,0,187,93.50
23,7/23/2016,Park,120,82,81,117.0,0.50,0,202,101.00
24,7/24/2016,Park,121,82,82,117.0,0.50,0,203,101.50
25,7/25/2016,Park,156,113,84,135.0,0.50,0,269,134.50
26,7/26/2016,Park,176,129,83,158.0,0.35,0,305,106.75
27,7/27/2016,Park,104,68,80,99.0,0.35,0,172,60.20
28,7/28/2016,Park,96,63,82,90.0,0.35,0,159,55.65
29,7/29/2016,Park,100,66,81,95.0,0.35,0,166,58.10
30,7/30/2016,Beach,88,57,82,81.0,0.35,0,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,0,123,43.05

In [39]:
%%time

juice.iloc[0:3, 0:2]

CPU times: user 1.14 ms, sys: 0 ns, total: 1.14 ms
Wall time: 5.29 ms

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [40]:
%%time

juice.loc[0:2, ['Date', 'Location']]

CPU times: user 2.67 ms, sys: 0 ns, total: 2.67 ms
Wall time: 2.51 ms

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [43]:
juice.loc[juice['Revenue'] > 100, ['Date', 'Revenue']]

         Date  Revenue
18  7/18/2016   111.50
19  7/19/2016   103.50
23  7/23/2016   101.00
24  7/24/2016   101.50
25  7/25/2016   134.50
26  7/26/2016   106.75

In [44]:
juice.iloc[juice['Revenue'] > 100, 0:2]

NotImplementedError: ignored

## 기본 데이터 전처리 
- sort_values()
- group_by()

In [50]:
juice.sort_values(by = ['Temperature', 'Revenue'], ascending=[False, True])

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,새로운 컬럼명,Sold,Revenue
12,7/12/2016,Beach,130,95,84,99.0,0.25,0,225,56.25
25,7/25/2016,Park,156,113,84,135.0,0.50,0,269,134.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,0,282,70.50
26,7/26/2016,Park,176,129,83,158.0,0.35,0,305,106.75
5,7/6/2016,Beach,103,69,82,90.0,0.25,0,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,0,172,43.00
31,7/31/2016,Beach,76,47,82,68.0,0.35,0,123,43.05
30,7/30/2016,Beach,88,57,82,81.0,0.35,0,145,50.75
8,NaN,Beach,123,86,82,113.0,0.25,0,209,52.25
28,7/28/2016,Park,96,63,82,90.0,0.35,0,159,55.65
10,7/10/2016,Beach,140,98,82,131.0,0.25,0,238,59.50
24,7/24/2016,Park,121,82,82,117.0,0.50,0,203,101.50
29,7/29/2016,Park,100,66,81,95.0,0.35,0,166,58.10
7,7/7/2016,Beach,143,101,81,135.0,0.25,0,244,61.00
23,7/23/2016,Park,120,82,81,117.0,0.50,0,202,101.00
18,7/18/2016,Park,131,92,81,122.0,0.50,0,223,111.50
9,7/9/2016,Beach,134,95,80,126.0,0.25,0,229,57.25
27,7/27/2016,Park,104,68,80,99.0,0.35,0,172,60.20
22,7/22/2016,Park,112,75,80,108.0,0.50,0,187,93.50
14,7/14/2016,Beach,122,85,78,113.0,0.25,0,207,51.75
4,7/5/2016,Beach,159,118,78,135.0,0.25,0,277,69.25
19,7/19/2016,Park,122,85,78,113.0,0.50,0,207,103.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,0,184,46.00
21,7/21/2016,Park,83,50,77,90.0,0.50,0,133,66.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,0,191,95.50
3,7/4/2016,Beach,134,99,76,98.0,0.25,0,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,0,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,0,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,0,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,0,187,46.75
0,7/1/2016,Park,97,67,70,90.0,0.25,0,164,41.00
20,7/20/2016,Park,71,42,70,NaN,0.50,0,113,56.50

## Group by
- 전처리의 마지막 단계
- 집계함수 --> 피벗테이블

- Location, 매출액의 최대, 최소, 총합계, 평균 금액을
---> Beach
---> Park

In [58]:
import numpy as np
juice.groupby('Location')[['Revenue', 'Sold', 'Temperature']].agg([sum, np.mean])

         Revenue             Sold             Temperature
             sum       mean   sum        mean         sum       mean
Location
Beach     1002.8  58.988235  3422  201.294118        1355  79.705882
Park      1178.2  78.546667  2855  190.333333        1172  78.133333

전처리된 데이터를 CSV 파일로 추출 엑셀 표현
엑셀로 분석 시 어느 정도 데이터까지 수용 가능한가요? 

- 최근 트렌드
--> 데이터 전처리 --> 분석 DB --> R Shiny
--> 데이터 시각화 대시보드 (태블로, PowerBI)
--> ETL (데이터 파이프라인)